div(class="header")
  div(class="header_wrapper")
    div(class="header_logo")
    div(class="header_menu")
      a(class="header_menu-link", href="#") Демо
      a(class="header_menu-link", href="#") Контакты