div(class="content")
  div(class="content_page content_page__1")
    div(class="content_text")
      p
        nobr Платформа <span>TVSync</span> позволяет повышать
        nobr эффективность рекламных кампаний
        nobr за счет синхронизации онлайн-рекламы
        nobr и телевизионной рекламы
    div(class="content_info")
      div(class="content_info-inner")
        span Реклама
        br
        span в реальном времени 13:32
  div(class="content_page content_page__2")
    div(class="content_title")
      p
        nobr Мы предлагаем следующие инструменты
        nobr повышения эффективности релкамных кампаний
    div(class="content_sync-types")
      div(class="content_sync")
        div(class="content_sync-title")
          span AdSync
        div(class="content_sync-img")
          img(src="img/rocket.png", alt="AdSync Image", width="213", height="188")
        div(class="content_sync-info")
          nobr Таргетинг рекламы
          nobr по событиям в эфире
      div(class="content_sync")
        div(class="content_sync-title")
          span SearchSync
        div(class="content_sync-img")
          img(src="img/target.png", alt="AdSync Image", width="257", height="229")
        div(class="content_sync-info")
          nobr Вывод в топ в момент
          nobr наивысшего спроса
      div(class="content_sync")
        div(class="content_sync-title")
          span SiteSync
        div(class="content_sync-img")
          img(src="img/feed.png", alt="AdSync Image", width="195", height="226")
        div(class="content_sync-info")
          nobr Синхронизация лендингов
          nobr с ТВ-кампаниями
  div(class="content_page content_page__3")
    div(class="content_text")
      p(class="content_text-title")
        span AdSync
      p(class="content_text-main")
        nobr Размещение рекламы с использованием
        nobr programmatic в web и мобильных сетях
        nobr и на отдельных площадках, таргетированное
        nobr по времени следующих событий в телеэфире:
      p(class="content_text-list")
        nobr – выход рекламного ролика бренда
        nobr – выход рекламного ролика конкурента
        nobr – выход рекламного блока и/или блока анонсов
        nobr – категория рекламных роликов
  div(class="content_page content_page__4")
    div(class="content_steps")
      div(class="content_steps-title content_title")
        p
          nobr Как это работает?
      div(class="content_step")
        div(class="content_step-img")
          img(src="img/step1.png", alt="AdSync Image", width="104", height="87")
        div(class="content_step-info")
          nobr Выбор роликов
          nobr и телеканалов
      div(class="content_step content_step__tick")
        div(class="content_step-img")
          img(src="img/tick.png", alt="AdSync Image", width="16", height="25")
      div(class="content_step")
        div(class="content_step-img")
          img(src="img/step2.png", alt="AdSync Image", width="104", height="87")
        div(class="content_step-info")
          nobr Установка
          nobr скрипта
      div(class="content_step content_step__tick")
        div(class="content_step-img")
          img(src="img/tick.png", alt="AdSync Image", width="16", height="25")
      div(class="content_step")
        div(class="content_step-img")
          img(src="img/step3.png", alt="AdSync Image", width="104", height="87")
        div(class="content_step-info")
          nobr Настройка
          nobr систем аналитики
      div(class="content_step content_step__tick")
        div(class="content_step-img")
          img(src="img/tick.png", alt="AdSync Image", width="16", height="25")
      div(class="content_step")
        div(class="content_step-img")
          img(src="img/step4.png", alt="AdSync Image", width="104", height="87")
        div(class="content_step-info")
          nobr Подключение
          nobr посадочной страницы